* {
    margin: 0;
    padding: 0;
    
}

.name{
    background-color: cornflowerblue;
    color: white;
    padding:6% 0px 6% 7%;
    font-size: 300%;
    font-variant:small-caps;       
}

.section{
    display:flex;
    flex-direction: column;
    padding-bottom:2%;
}

h2{
    padding-left: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(80, 80, 80);
    color: white;
    margin: 0.6% 0 0.2%;
    font-size: 170%;
    font-variant:small-caps;
}

h3{
    min-width: 400px;
    font-size: 135%;
    margin-top: 1%;
}

.instline .date,
.posline .date2{
    font-style: italic;
    font-size: 99%;
}

.posline,
.contents{
    margin-top: 0.7%;
}
.pos{
    font-weight: bold;
}


.lists,.contents,.instline,
.posline{
    padding:0 7% 0;
    text-align: justify;
}

ol,ul{
    margin-top: 2%;
}
.lists{
    padding-right: 0;
}


/* 
.instline,
.posline{
    display: inline-block;
    justify-content: space-between;
} */
