* {
    margin: 0;
    padding: 0;
    
}
html{
    width: 1024px;
}
h2{
    padding-left: 7%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(80, 80, 80);
    color: white;
    margin: 0.6% 0 0.2%;
    font-size: 170%;
}

.lists,.contents,.instline,
.posline{
    padding:0 7% 0;
    text-align: justify;
    
}
.lists{
    padding-right: 0;
}

.name{
    background-color: cornflowerblue;
    color: white;
    padding:6% 0px 6% 7%;
    font-size: 300%;
       
}

.section{
    display:flex;
    flex-direction: column;
    padding-bottom:2%;
}

.instline,
.posline{
    display: flex;
    justify-content: space-between;
}
